<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success border-bottom box-shadow mb-3">
            <div class="container align-items-end">
                <a class="navbar-brand" href="#">
                    <img alt="Ecoba's Logo" src="~/img/logo.png" style="height:40px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ml-auto">
                    <ul class="navbar-nav flex-grow-1 align-items-end">
                        <li class="nav-item ml-2">
                            <a class="nav-link text-white text-uppercase" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link text-white text-uppercase" asp-area="" asp-controller="InOuts" asp-action="Index">
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link text-white text-uppercase" asp-area="" asp-controller="InOuts" asp-action="Upload">
                                <i class="fas fa-cloud-upload-alt"></i> Upload Data
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container small">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container small">
            <div class="row flex-row">
                <div class="flex-grow-1">&copy; 2020 - Phòng phát triển và kiểm soát hệ thống</div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/logout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
